<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cadConta.css">
    <title>Create</title>

</head>

<body>

    <div class="box">


        <h1> Depositar Crédito </h1>

        <form action="/saveC" method="POST">
            <label> Descrição: </label>
            <input type="text" placeholder="Descrição" name="descricaoCred">
            <label> Valor: </label>
            <input type="number" placeholder="Valor em R$" min="1" name="valorCred">
            <button type="submit">Cadastrar</button>
        </form>

    </div>

    <div class="box">

        <h1> Depositar Débito </h1>

        <form action="/saveD" method="POST">
            <label> Descrição: </label>
            <input type="text" placeholder="Descrição" name="descricaoDeb">
            <label> Valor: </label>
            <input type="number" placeholder="Valor em R$" min="1" name="valorDeb">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <div class="box">

        <h1 class="pl">Depositar Patrimônio Líquido</h1>

        <form action="/savePL" method="POST">
            <label> Descrição: </label>
            <input type="text" placeholder="Descrição" name="descricaoPL">
            <label> Valor: </label>
            <input type="number" placeholder="Valor em R$" min="1" name="valorPL">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>

</html>