<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<style>
    body{
        display: flex;
        justify-content: space-around;
    }
    table, th{
        border: 1px solid black;
    }
    .credit{
        background-color: red;
    }
    .debit{
        background-color: green;
    }
    .left{
        display: flex;
        flex-direction: column;
    }
</style>
<body onload="ale()">
    
    <div class="left">

        <table class="box">
            <h1>Crédito</h1>
        <% credito.forEach(function(conta){ %>
            <tr class="box">
                <th><%= conta.Descricao %></th>
                <th class="credit"><%= conta.Valor %></th>           
            </tr>
            <% }); %>
            
        </table>
        
        <h3 id="somac">Aqui vai soma valor: </h3>
        
    </div>


    <div class="rigth">

        <table class="box">
            <h1>Débito</h1>
        <% debito.forEach(function(conta){ %>
            <tr class="box">
                <th><%= conta.Descricao %></th>
                <th class="debit"><%= conta.Valor %></th>           
            </tr>
            <% }); %>
        </table>
    </div>

<script>

    function ale(){
        var valores = document.getElementsByClassName("credit")
        var elementos = []
        var ab = []
    
        
        for (i = 0; i < valores.length; i++) {   
            
            elementos.push(valores[i].innerHTML)
            ab.push(parseInt(elementos[i]))
            
        }
            
        var c = ab.reduce(function(a , b) {
            return a + b
        }, 0)

        console.log(c)

        const d = document.getElementById("somac")

        d.innerText += c


}



</script>
</body>
</html>