body {
    margin: 0;
    padding: 0;
    font-family: 'Bona Nova', serif;
}
/* headermob */
.headerMobile {
    display: none;
  }
  
  .hidden {
    display: none;
  }
  /* header */
header{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}
.logo{
    margin-left: 2em;
}
.login{
    margin-right: 2em;
}
section{
    font-size: 20px;
    font-family: initial;
    display: flex;
    justify-content: center;
    
}
.border{
    margin: 50px;
    padding: 10px;
    box-shadow: 1px 1px 2px 5px black;;
}
.balan {
    display: flex;
    justify-content: center;
    width: 100%;
}
.titleBalan{
    border-bottom: 1px black solid;
    text-align: center;
}
.box{
    padding: 14px;
    border: 1px solid black;
    padding: 1em;
}
tr {
    box-shadow: 2px 2px black;
}
.debit, .credit{
    border-left: 1px black solid;
    padding-left: 5px;
}
.left {
    border: 1px solid black;
}
.right {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    padding: 0;
}
h3 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid black;
}
h5 {
    margin: 0;
    font-size: 22px;
    background-color: black;
    color:white;
}

.cnt {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 70%;
   
}
#somac{
    font-size: 20px;
    font-family: italic;
}
#somad {
    font-size: 20px;
    font-family: italic;
}
#somapl {
    margin-top: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.2em;
}
#balanco{
    border-top: 1px black solid;
    text-align: center;
    padding-top: 1em ;
}
nav{
    border-top: 1px black solid;
    display: flex;
    justify-content: space-around;
    padding: 3em;
}
.link{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700; 
}
.link:hover{
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 90%
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 1em;
    height: 70px;
}
@media (max-width: 650px) {
    header {
        display: none;
      }
      .headerMobile {
        display: block;
        background: linear-gradient(to bottom, #0c0c0c, #252525 70%, #313131 85%);
      }
      .headerMobile a {
        text-decoration: none;
        color: white;
      }
      .headerMobile .BtnMenu {
        padding-left: 4px;
      }
      .hide {
        display: none;
      }
      .Menu {
        text-align: center;
        line-height: 10vh;
        font-size: 25px;
        height: 100vh;
      }
      nav{
        display: none;
    }
    }