body {
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
.logo{
    margin-left: 2em;
}
.login{
    margin-right: 2em;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.raz {
    margin: 50px;
    width: auto;
    padding: 2em;
}
.T {
    display: flex;
    margin-top: -15px;
    margin-bottom: 50px;
    max-width: auto;
    align-items: center;
    border: 3px solid black;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.rigth {
    width: 50%;
    height: 80px;
    margin-left: 0.5em;
}

.deb {
    background-color: black;
    width: 10px;
}

.left {
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid black;
    margin-right: 0.5em;
}

h3 {
    max-width: 100%;
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    border: 3px solid black
}

h4 {
    margin-top: 0;
}
nav{
    border-top: 1px black solid;
    display: flex;
    justify-content: space-around;
    padding: 3em;
}
.link{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700; 
}
.link:hover{
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 90%
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 1em;
    height: 70px;
}